<div class="nav-container">
  @for (item of items; track $index) {
    <div class="icon-item">
      <button
        class="icon-item"
        (click)="onIconClicked(item.name)"
        [ngClass]="{ active: isIconClassActive(item.name) }"
      >
        <mat-icon [matBadge]="item.badgeNumber" matBadgeColor="warn">{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
        <div class="underline"></div>
      </button>
    </div>
  }

  <div class="avatar-container">
    <img class="avatar" src="assets/me.jpeg" alt="User avatar" />
    <div class="avatar-title">
      <span>Me</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </div>

  <div class="vertical-divider"></div>

  <mat-divider vertical></mat-divider>
</div>
